<form class="w-50 mx-auto" action="signin/submit" method="POST">
    <img src="https://www.uit.edu.vn/sites/vi/files/images/Logos/Logo_UIT_In.jpg" class="rounded mx-auto d-block w-50 h-50" alt="...">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tên đăng nhập</label>
    <input type="text" name="username"  class="form-control" id="exampleInputEmail1" >
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
 
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
<div class="w-50 mx-auto mt-4">
    <span>Bạn chưa có tài khoản? </span><a href="/auth/registerpage">Đăng kí ngay</a>
</div>