<form action="signup/submit" class="w-50 mx-auto" method="POST">
    <img src="https://www.uit.edu.vn/sites/vi/files/images/Logos/Logo_UIT_In.jpg" class="rounded mx-auto d-block w-50 h-50" alt="...">
  <div class="mb-3">
      <h2>Đăng kí</h2>
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Tên đăng nhập</label>
    <input type="text" class="form-control" id="username" name="username" > 
  </div>
  <div class="mb-3">
    <label for="phonenumber" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" name="email" >
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
 
  <button type="submit" class="btn btn-primary">Đăng kí</button>
</form>
