<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="POST" action ="/courses/store"> 
      <input   name="name" id="name" type="text"  placeholder="Điền tên">     
      <input  name="description" id="description" type="text" placeholder="Mô tả khóa học">
      <input  name="videoId" id="videoId" type="text" placeholder="Mã video">    
      <input  name="image" id="image"  type="text" placeholder="Link hình ảnh">
      <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>