<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© Phát triển hệ thống web:
    <a href="#">Đoàn Văn Đắc</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->